body {
	font-size: 16px;
	color: #000;
	background: #fff;
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background: #999;
    border-color: #000;
}
#header-nav .navbar-brand {
	color: #000;
    font-weight: 700;
    font-size: 2em;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 30px;
}
h3 {
	font-size: 1.5em;
	font-weight: 700;
}
p {
	font-size: 1em;
}
.box-wrapper {		
	border: 1px solid #000;
	position: relative;
	background: #999999;
    margin-bottom: 30px;
    padding: 0 15px 15px 15px;	
}
#nav-list {
    background: #fff;
    padding: 0px;
    margin: 0px -15px;
}
#nav-list li {
	border-bottom: 1px solid #000;
}
#nav-list li:last-child {
	border-bottom: 0px;
}
#nav-list li a {
	color: #000;
	font-weight: 700;
}
.white-menu-btn {
	background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.back-to-top-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #082d4c;
}